$color-primary: #463995;
$color-secondary: #fff;
$color-title: #272727;
$color-border: #6bbef2;
$color-background-ranked: #59bdb5;
$color-placing: #5b5d5a;
$color-survey: #dd5b5d;
$color-background-survey: #f8f7f5;
$color-black: #000;
$color-number: #909090;
